<nav class="navbar navbar-expand-lg fixed-top main-nav" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <!-- <img src="asses/logo.png" alt="" class="img-fluid"> -->
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Home</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown02">
            <li><a class="dropdown-item" href="index.html">Home 1</a></li>
            <li><a class="dropdown-item" href="index-2.html">Home 2</a></li>
            <li><a class="dropdown-item" href="index-3.html">Home 3</a></li>
            <li><a class="dropdown-item" href="index-4.html">Home 4</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">About</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
            <li><a class="dropdown-item" href="about-me.html">About Me</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Portfolio</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="portfolio-1.html">Portfolio-1</a></li>
            <li><a class="dropdown-item" href="portfolio-2.html">Portfolio-2</a></li>

            <li><a class="dropdown-item" href="portfolio-single.html">Portfolio Details</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">News</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown06">
            <li><a class="dropdown-item" href="blog-grid.html">News grid</a></li>
            <li><a class="dropdown-item" href="blog-standard.html">News Standard</a></li>
            <li><a class="dropdown-item" href="blog-single.html">News Details</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>

      <!-- 			<div class="navbar-nav extra-nav text-center">
				<div class="search">
					<a class="nav-link" id="searchOpen"><i class="fa fa-search"></i>
					</a>
					<div class="search-wrapper">
						<form action="#">
							<input class="search-box form-control" id="search" type="search" placeholder="Type &amp; Hit Enter...">
						</form>
						<button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
					</div>
				</div>
				<div class="cart">
					<a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i><span>0</span></a>
				</div>
			</div> -->
    </div>
  </div>
</nav>
<!-- Navigation End -->

<!-- Slider Start -->
<section class="banner-2 position-relative bg-blue">
  <img src="images/bg/banner-2.png" alt="" class="overlay-shape">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-content-2">
          <span class="h5 text-uppercase text-yello">MY NAME IS Prashanth</span>
          <h2 class="text-white mt-2">I am a <br> Full Stack Developer UI/UX Designer <br>from India.</h2>
          <!-- <p class="my-4">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p> -->

          <a href="contact.html" class="btn btn-primary">contact me</a>
        </div>
      </div>

      <div class="col-lg-6 align-self-end">
        <img src="images/banner/banner-img-2.png" alt="" class="img-fluid position-absolute-">
      </div>
    </div>
  </div>
</section>
<!-- Slider End -->

<!-- Service Start -->
<section class="service-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="service-item mb-4 mb-lg-0 text-center px-4">
          <i class="ti-ruler-pencil text-color icon-md"></i>
          <h4 class="my-4">Brand Design</h4>
          <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  border-left border-right">
        <div class="service-item mb-4 mb-lg-0 px-4 text-center">
          <i class="ti-announcement text-color icon-md"></i>
          <h4 class="my-4">Seo & Marketing</h4>
          <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item mb-4 mb-lg-0 text-center px-4">
          <i class="ti-palette text-color icon-md"></i>
          <h4 class="my-4">Creative Design</h4>
          <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service End -->


<!-- PortfoliO Start -->
<section class="pt200 section portfolio-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <span class="h5 text-color text-uppercase">
          my works
        </span>
        <h3 class="mb-4 mt-2">A collection of some recently completed projects, covering a wide range of design
          disciplines</h3>
      </div>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-between mb-5">
      <div class="btn-group btn-group-toggle " data-toggle="buttons">
        <label class="btn border-0 active">
          <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
        </label>
        <label class="btn border-0 ">
          <input type="radio" name="shuffle-filter" value="design" />UI/UX Design
        </label>
        <label class="btn border-0">
          <input type="radio" name="shuffle-filter" value="branding" />branding
        </label>
        <label class="btn border-0">
          <input type="radio" name="shuffle-filter" value="illustration" />Web Development
        </label>
        <label class="btn border-0">
          <input type="radio" name="shuffle-filter" value="photo" />Photography
        </label>
      </div>
      <a href="portfolio-2.html" class="btn btn-outline-primary">All work</a>
    </div>


    <div class="row shuffle-wrapper portfolio-gallery">
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-1.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Painting</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Web dev</h5>
                  <p>Development</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Business</h5>
                  <p>Marketing</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups="[&quot;design&quot;,&quot;photo&quot;,&quot;branding&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-4.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Modern app</h5>
                  <p>App dev</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-5.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Artictech</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Painting</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio End -->

<!-- Testimonial Start -->
<section class="section bg-secondary position-relative">
  <img src="images/bg/testimonial-bg.png" alt="" class="overlay-shape">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="h5 text-color text-uppercase">
          testimonials
        </span>
        <h3 class="mb-4 mt-2 text-white">clients feedback</h3>
      </div>
    </div>

    <div class="row testimonial-wrap">
      <div class="col-lg-12 ">
        <div class="test-wrap ">
          <i class="text-color ti-quote-left"></i>
          <div class="testimonial-content">
            <p class="text-white">Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna
              aliqu. enim minim veniam.quis nos
              trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
              culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
            <div class="test-author d-flex mt-4">
              <div>
                <img src="images/team/test-1.jpg" alt="" class="img-fluid mr-3">
              </div>
              <div>
                <h5 class="mb-0 mt-2 text-white">Liam Hughes</h5>
                <span class="text-color">Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 ">
        <div class="test-wrap ">
          <i class="text-color ti-quote-left"></i>
          <div class="testimonial-content">
            <p class="text-white">Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna
              aliqu. enim minim veniam.quis nos
              trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
              culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
            <div class="test-author d-flex mt-4">
              <div>
                <img src="images/team/test-2.jpg" alt="" class="img-fluid mr-3">
              </div>
              <div>
                <h5 class="mb-0 mt-2 text-white">Jane Austin</h5>
                <span class="text-color">Designer</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 ">
        <div class="test-wrap ">
          <i class="text-color ti-quote-left"></i>
          <div class="testimonial-content">
            <p class="text-white">Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna
              aliqu. enim minim veniam.quis nos
              trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
              culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
            <div class="test-author d-flex mt-4">
              <div>
                <img src="images/team/test-3.jpg" alt="" class="img-fluid mr-3">
              </div>
              <div>
                <h5 class="mb-0 mt-2 text-white">Liolane hussy</h5>
                <span class="text-color">Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial End -->

<!-- Counter Start -->
<section class="section-sm counter-section position-relative bg-blue">
  <img src="images/bg/cta-bg.png" alt="" class="overlay-shape">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="counter-content d-flex mb-5 mb-lg-0">
          <i class="ti-briefcase mr-4"></i>
          <div>
            <h2 class="mb-0"><span class="counter">370</span></h2>
            <p class="text-capitalize mb-0">work completed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-content d-flex mb-5 mb-lg-0">
          <i class="ti-paint-bucket mr-4"></i>
          <div>
            <h2 class="mb-0"><span class="counter">450</span></h2>
            <p class="text-capitalize mb-0">new projects</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-content d-flex mb-5 mb-lg-0">
          <i class="ti-heart mr-4"></i>
          <div class="mb-0">
            <h2><span class="counter">50</span>k+</h2>
            <p class="text-capitalize mb-0">Happy customers</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-content d-flex mb-5 mb-lg-0">
          <i class="ti-cup mr-4"></i>
          <div class="mb-0">
            <h2><span class="counter">50</span>+</h2>
            <p class="text-capitalize mb-0">awards win</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter End -->

<!-- Slill Start -->
<section class="section skill pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <span class="h5 text-color text-uppercase">
          my skill
        </span>
        <h3 class="mb-5 mt-2">We are Design & Development Team.</h3>
        Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim minim veniam
        quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.duis aute irure.sint occaecat cup
        idatat non proident sunt.
      </div>

      <div class="col-lg-6 offset-lg-1 mb-5">
        <div class="progress-block skill-2-bg">
          <h6 class="text-uppercase">Branding</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-percent="85">
              <span class="skill-number">85</span>
            </div>
          </div>
        </div>

        <div class="progress-block skill-2-bg">
          <h6 class="text-uppercase">Consulting</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-percent="90">
              <span class="skill-number">90</span>
            </div>
          </div>
        </div>

        <div class="progress-block skill-2-bg">
          <h6 class="text-uppercase">Business</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-percent="75">
              <span class="skill-number">75</span>
            </div>
          </div>
        </div>
        <div class="progress-block skill-2-bg">
          <h6 class="text-uppercase">Promotion</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-percent="90">
              <span class=" skill-number">90</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Skill End -->

<!-- Blog Start -->
<section class="section latest-blog position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <span class="h5 text-color text-uppercase">
          latest article
        </span>
        <h3 class="mb-5 mt-2">Stay Update with dizer.</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6  mb-4 mb-lg-0">
        <div class="blog-img position-relative">
          <img src="images/blog/blog-1.jpg" alt="" class="img-fluid w-100">
          <a class="blog-category" href="#">Article</a>
        </div>
        <a href="blog-single.html">
          <h4 class="mt-4 mb-2">Elit duied aiusm tempor did labore dolory</h4>
        </a>
        <div class="post-meta text-uppercase mb-3">
          <a href="#" class="text-color">by admin </a>
          <span class="text-color">/ on 2 Sep, 2018</span>
        </div>
        <p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
          sed ut pers piciatis unde.</p>
      </div>
      <div class="col-lg-4 col-md-6  mb-4 mb-lg-0">
        <div class="blog-img position-relative">
          <img src="images/blog/blog-2.jpg" alt="" class="img-fluid w-100">
          <a class="blog-category" href="#">lifestyle</a>
        </div>
        <a href="blog-single.html">
          <h4 class="mt-4 mb-2">Elit duied aiusm tempor did labore dolory</h4>
        </a>
        <div class="post-meta text-uppercase mb-3">
          <a href="#" class="text-color">by admin </a>
          <span class="text-color">/ on 2 Sep, 2018</span>
        </div>
        <p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
          sed ut pers piciatis unde.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-img position-relative active-state">
          <img src="images/blog/blog-3.jpg" alt="" class="img-fluid w-100">
          <a class="blog-category" href="#">creative</a>
        </div>
        <a href="blog-single.html">
          <h4 class="mt-4 mb-2">Elit duied aiusm tempor did labore dolory</h4>
        </a>
        <div class="post-meta text-uppercase mb-3">
          <a href="#" class="text-color">by admin </a>
          <span class="text-color">/ on 2 Sep, 2018</span>
        </div>
        <p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
          sed ut pers piciatis unde omnis iste.</p>
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->


<!-- Contact Start -->
<section class="section home-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <span class="h5 text-color text-uppercase">
          Contact me
        </span>
        <h3 class="mb-5 mt-2">Let’s Create <br>Something Big</h3>

        <form action="#" class="home-contact-form">
          <div class="form-row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <textarea name="msg" id="msg" cols="30" rows="4" class="form-control mb-4"
                placeholder="Message"></textarea>

              <a href="#" class="btn btn-primary">Get a quote</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact End -->